.faq-arrow.open {
  transform: rotate(180deg);
  transform: scale(1.6);
  
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 320ms ease-in-out,
    opacity 220ms ease-in-out,
    padding 220ms ease-in-out;
  padding-top: 0;
}
.faq-answer.open {
  align-items: center;
  max-height: 400px;
  opacity: 1;
  padding-top: 0.5rem;
  background-color: rgb(245, 242, 242);
  padding-top: 10px;
}
.faq-answer p {
  margin: 0;
}
