.search-results {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0 0;
  max-height: 300px; /* или колкото искаш */
  overflow-y: auto;
  padding-left: 0;
  margin-top: 8px;
  position: absolute;
  top: 80%;
  z-index: 1;
}

.search-results li {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #eee;
  background: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

.search-results li:hover {
  background: #f8f9fa;
}
